<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MovieInfo</servlet-name>
        <servlet-class>me.recsfor.group.MovieInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistInfo</servlet-name>
        <servlet-class>me.recsfor.group.ArtistInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlbumInfo</servlet-name>
        <servlet-class>me.recsfor.group.AlbumInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SongInfo</servlet-name>
        <servlet-class>me.recsfor.group.SongInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieInfo</servlet-name>
        <url-pattern>/MovieInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistInfo</servlet-name>
        <url-pattern>/ArtistInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlbumInfo</servlet-name>
        <url-pattern>/AlbumInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SongInfo</servlet-name>
        <url-pattern>/SongInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
